@import url("https://fonts.googleapis.com/css?family=Assistant:200,400,700&&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
body {
    font-family: 'Assistant';
    // background-color: #E4E6EB;
    background-color: #fff;
    color: #071C4D;
}
nav {
    &.bg-light {
        background-color: #fff!important;
    }
    .nav-link {
        margin: 6px 0;
        color: #071C4D!important;
    }
    .active > .nav-link {
        font-weight: bold;
    }
    .navbar-brand {
        img {
            max-height : 40px;
        }
    }
}

.btn-navbar-right {
    margin-top: -10px!important;
    margin-right: -33px!important;
    margin-bottom: -10px!important;
    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071C4D;
    color: #fff;

    &:hover{
        background-color: rgb(28, 57, 124);
        color: #fff;
    }
}

.jumbotron{
    width: 100%;
    padding: 180px 0 165px;
    margin-top: -70px;
    border-radius: 0;
    color: #fff;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-weight: bold;
        font-family: 'PlayfairDisplay'; 
        font-size: 50px;
    }
    p { 
        font-size: 22px;
    }
}
.btn-primary{
    background-color: #FF9E53!important;
    border-color: #FF9E53!important;
}

.sections-stats {
    margin-top: -85px;
    .stats-detail {
        background-color: #fff;
        padding-left: 40px;
        padding-top: 15px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    p {
        font-weight: lighter;
        font-size: 20px;
    }
}
.section-popular {
    .section-popular-heading {
        background-color: #071C4D;
        margin-top: -45px;
        min-height: 540px;
        margin-bottom: -230px;
        color: #fff;
        h2 {
            margin-top: 150px;
        }
        p {
            margin-bottom: 70px;
        }
    }
    .section-popular-content {
        .card-travel {
            color: #fff;
            padding: 30px ;
            background-color: #d5d5;
            background-size: cover;
            height: 380px;
            margin-bottom: 20px;
        }
        .travel-country {
            font-size: 18px;
        }
        .travel-location {
            font-size: 26px;
        }
        .travel-btn > a {
            font-weight: 700;
            &:hover{
                background-color: rgb(255, 180, 123)!important;
            }
        }
    }
}

.section-networks {
    margin-top: 100px;
    margin-bottom: 50px;
    h2.title-section {
        margin-bottom: 14px;
        font-family: 'PlayfairDisplay';
        font-weight: bold;
        font-size: 40px;
    }
    img {
        max-height: 55px;
    }
}

.section-testimonial-heading {
    padding-top: 50px;
    min-height: 506px;
    background: linear-gradient(#fff 0%, #F7F9FF 100%);
}

.section-testimonials {
    margin-top: -280px;
    margin-bottom: 100px;
    .card {
        font-size: 23px;
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
        .card-footer {
            background-color: #fff;
            padding: 20px 0;
            font-weight: normal;
        }
        h3 {
            font-size: 22px;
        }
        p {
            font-weight: 200;
            font-size: 26px;
        }
    }
    .btn-help{
        background-color: #F2F2F2;
        color: #C3C3C3;
        &:hover{
            background-color: #ccc;
            color: rgb(119, 119, 119);
        }
    }
}
footer {
    a {
        color: #071C4D;
    }
}

.title-section {
    margin-bottom: 14px;
    font-family: 'PlayfairDisplay', serif;
    font-weight: bold;
    font-size: 40px;
}
.sub-title-section {
    font-size: 18px;
}

.section-header {
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
    padding-top: 110px;
    .breadcrumb{
        background-color: transparent;
        .breadcrumb-item{
            &.active{
                font-weight: bold;
            }
        }
    }
}


.section-details-content {
    margin-top: -120px;
    margin-bottom: 100px;
    min-height: 100vh;
    .card:not(#trip-information) {
        border-radius: 11px;
        background-color: #fff;
        padding: 30px;
    }
    #trip-information, #payment-instruction {
        .card {
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            background-color: #fff;
            padding: 30px 30px 10px 30px;
        }
        a.btn {
            border-radius: 0px;
            z-index: 0;
        }
        .members {
            .member-pic {
                width: 40px;
                height: 40px;
            }
        }
    }

    .title-details {
        font-size: 26px;
        margin-bottom: 4px;
        margin-top: 0px;
    }
    p.sub-title-details {
        font-weight: lighter;
        font-size: 18px;
        margin-bottom: 24px;
    }
    h2:not(.title-details) {
        margin: 30px 0 15px;
        font-weight: 700;
        font-size: 20px;
    }
    p:not(.sub-title-details){
        font-size: 18px;
    }
    .features {
        margin-top: 20px;
        h4 {
            font-size: 18px;
            margin-bottom: 0;
        } 
        p {
            margin-bottom: 0;
            font-size: 14px;
        } 
        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }
        img {
            width: 45px;
            height: 45px;
            float: left;
        }
    } 
}

.btn-primary {
    &:hover{
        background-color: rgb(255, 180, 123)!important;
    }
}

.gallery {
    .xzoom-container {
        display: block;
    }
    .xzoom-container .xzoom5 {
        width: 100%;
        -webkit-box-shadow: none;
                box-shadow: none;
        margin-bottom: 20px;
    }
      
    .xzoom-container .xactive {
        border: 2px solid #1abc9c;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
.btn-add-now {
    background-color: #071C4D;
    color: #fff;
    &:hover{
        color: #fff;
        background-color: rgb(16, 46, 116);
    }
}
.text-blue {
    color: #071C4D;
    font-weight: bold;
}
.text-orange {
    color: #FF9E53;
    font-weight: bold;
}
.bank-item {
    img {
        width: 45px;
        height: 45px;
        float: left;
    }
    h3 {
        font-size: 18px;
        color: #071c4d;
        margin-bottom: 0;
    }
    .description {
        margin-left: 20px;
        overflow: hidden;
        float: left;
    }
}
.section-success {
    height: 90vh;
    h1 {
        font-size: 26px;
        font-weight: 600;
    }
    p {
        font-size: 18px;
        font-weight: 300;
    }
}